
h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;

  font-family: 'Bitter', serif;
  font-size: rem-calc(32);
  line-height: rem-calc(36);
  color: #202022;
  font-weight: 400;

  @media only screen and (min-width:768px) {
    font-size: rem-calc(44);
    line-height: rem-calc(48);
  }
}

h3 {
  font-family: 'Bitter', serif;
  font-weight: 400;
  margin: rem-calc(12) 0;

  font-size: rem-calc(18);
  line-height: rem-calc(24);
  @media only screen and (min-width:768px) {
    font-size: rem-calc(24);
    line-height: rem-calc(36);
  }
}

.text-center {
  text-align: center;
}

p {
  font-weight: 300;
  color: currentColor;
  font-size: rem-calc(16);
  line-height: rem-calc(24);
  margin: 0;

  @media only screen and (min-width:768px) {
    font-size: rem-calc(18);
  }

  &.is-large {
    font-size: rem-calc(16);
    @media only screen and (min-width:768px) {
      font-size: rem-calc(22);
      line-height: rem-calc(36);
    }
  }

  & + p {
    margin-top: rem-calc(24);
  }
}
