$base-font-size: 16px;
$base-line-height: 24px;

$susy: (
  columns: 12,
  gutters: 1,
  column-width: 60px,
  debug: (
    image: hide,
    color: rgba(#cfc, 0.8),
    output: background,
    toggle: top right,
  )
);
